:sass

  table
    width: 100%

  td

    &.number
      width: 128px
      text-align: center

    &.assignee
      width:      40px
      text-align: right

%table.issues
  %tbody= render 'issue', collection: @issues
