%html

  %head
    %title Github API + Panic's Statusboard
    %link{ href: '/stylesheets/screen.css', media: 'screen', rel: 'stylesheet', type: 'text/css' }

  %body
    %a{ href: 'https://github.com/BM5k/ghsb' }
      %img{ alt: 'Fork me on GitHub', src: 'https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png', style: 'position: absolute; top: 0; right: 0; border: 0;' }

    = yield
