!!!
%html{ 'xml:lang' => 'en', lang: 'en', xmlns: 'http://www.w3.org/1999/xhtml' }

  %head
    %meta{ content: 'text/html;charset=UTF-8', 'http-equiv' => 'content-type' }

    %title
      Github StatusBoard
      = yield :title

  %body
    = yield
    = render 'footer'
